cement==2.6.0
Flask==2.2.5
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.0
graphviz==0.4.4
itsdangerous==0.24
Jinja2==3.1.4
MarkupSafe==0.23
mimerender==0.5.5
prettytable==0.7.2
pyfiglet==0.7.4
python-dateutil==2.4.2
python-mimeparse==0.1.4
six==1.9.0
smalisca==0.2
SQLAlchemy==1.0.5
Werkzeug==3.0.6
wheel==0.38.1
configparser==3.5.0
